.link-conteneur{
    display:flex;
    justify-content:space-between;
    background-color:green;
    height: 30px;
    width: 30%;
    margin :20px;
}
.conteneur{
    display:flex;
    background-color: green;
    border: solid 3px yellow;
    width:30%;
}
h2{
    text-align: center;
}
a{
    color:black;
    text-decoration: none;
}
@media screen and (max-width:480px){
    a{
        color:white;
    }
   .link-conteneur{
     display:flex;
     background-color:grey;
   }
   .conteneur{
    background-color: grey;
    display:flex;
    flex-direction:column;
   }
}