.link-conteneur{
    display:flex;
    justify-content:space-around;
    background-color:green;
    height:30px;
    width:25% ;
    margin: 15px;
}
.conteneur{
    background-color: blue;
    border: solid 3px;
}
h2{
    text-align: center;
}
a{
    color:black;
    text-decoration: none;
}
@media screen and (max-width:480px {
   .link-conteneur{
     display:inline-block;
     background-color:grey;
   }
   .conteneur{
     background-color: grey;
   }
}